<h1><%= @group.name %></h1>
<%= form_for [@group, @email], html: {class: 'form-inline'} do |f|%>
  <%= f.text_field :address, placeholder: 'Email Address' %> 
  <%= f.submit 'Add',  class: 'btn' %>
<% end %>
<%= @email.errors.full_messages.join(',') if @email.errors.any? %>

<table class="table table-bordered emails">
  <thead>
    <tr>
      <th width="50%">Address</th>
      <th width="1px"></th>
      <th width="50%">Address</th>
      <th width="1px"></th>
    </tr>
  </thead>
  <% @group.emails.each_slice(2).to_a.each do |emails| %>
    <tr>
      <%= render emails[0] %>
      <% if emails[1] %>
        <%= render emails[1] %>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
